@model MyMoney.Models.AccountBook

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoryyy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoryyy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amounttt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amounttt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dateee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarkkk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarkkk)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
