@model IEnumerable<MyMoney.Models.ViewModels.AccountingViewModel>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>        
    </tr>

    @{ var index = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@(index)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>           
        </tr>
        index++;
    }
</table>